.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    
  }

  .StripeElement--focus {
    border-color: blue;
    
    
  }

  /* Estilos para cuando el elemento de la tarjeta está inválido */
.StripeElement--invalid {
    border-color: #fa755a;
  }

  @font-face {
    font-family: 'Rayada';
    src: url("../fonts/Zeyada-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }


  .Titulo {
    font-family: 'Rayada', sans-serif;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3rem;
      font-weight: bold;
    };


    @media (max-width: 768px) {
      .Titulo {
        font-size: 2.5rem;
        flex: 1;
        display: flex;
      align-items: center;
      justify-content: center;
      
      }
    }
    
    @media (max-width: 480px) {
      .Titulo {
        font-size: 2rem;
        flex: 1;
        display: flex;
      align-items: center;
      justify-content: center;
      }
    }

    .Titulo h1 {
      margin: 0; /* Asegura que no haya espacios marginales alrededor del título */
    }
  
    .TituloLoguin {
      font-family: 'Rayada', sans-serif;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: bold;
        color: white;
      };

      @media (max-width: 768px) {
        .TituloLoguin {
          font-size: 0.5rem;
          flex: 1;
          display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        
        }
      }

  

  
  

