.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    
  }

  .StripeElement--focus {
    border-color: blue;
    
    
  }

  /* Estilos para cuando el elemento de la tarjeta está inválido */
.StripeElement--invalid {
    border-color: #fa755a;
  }

  @font-face {
    font-family: 'Rayada';
    src: url("../fonts/Zeyada-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  .Titulo {
    font-family: 'Rayada', sans-serif;
    margin-left: 20rem;
    font-size: 5rem;
  }

  @media (max-width: 768px) {
    .Titulo {
      font-size: 3rem;
      margin-left: 2rem; 
      margin-top: 1rem;
    }
  }
  

  
  

